#block{
  margin: 40px 20px 20px 20px;
  width: 70%;
}
.blockCHta{
  background-color: white;
  text-align: left;
  border-collapse: collapse;
  width: 50%;

}
caption{
  color: rgb(40, 32, 88);
}
.blockCHth, .blockCHtd{
  /* border: solid 1px black; */
  padding: 10px;
  font-size: 12px;
}

.blockCHth{
  background-color:#246355;
  border-bottom: solid 5px #0F362D;
  color: white;
}
.blockCHtr:nth-child(even){
  background-color: #ddd;
}
.blockCHtr:hover td{
  background-color:#369681;
  color: white;
}
/* .tr2:hover td{
  background-color:#091a80;
  color: white;
} */
/* .thead2{
  background-color:#36b4c5;
  border-bottom: solid 5px #1a8391;
  color: white;

} */
/* para crear la table de aqui para arriba */
li{
  list-style-type:none;
}
.tam,.letras,.espacio{
  
  margin: 10px;
}
.masEsp{
  margin-top: 20px;
}

.letras,.tam{
  width: 400px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  margin: 10px;
  width:700px;
  height:150px;
  /* border-color : rgb(218, 218, 218); */
  border: 1px solid #c9cfd1;
  /* border: 10px; */
}



.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}
.success {
  padding: 20px;
  background-color: #57a05d;
  color: white;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}


.lead {
  /* width: 600px; */
  text-align: center;
  }
  .center {
    margin: auto;
    margin-top: 30px;
    margin-bottom : 30px;
    width: 600px;
    border: 3px solid #18bbbb;
    padding: 25px;
  }



/* 
  <table class="blockCHta masEsp">
  <thead class="blockCHth">
    <tr class="blockCHtr">
      <th class="blockCHth">Bienvenido </th><th class="blockCHth" >{{name}}</th>
    </tr>
  </thead class="blockCHth">
  <tr class="blockCHtr">
    <td class="blockCHtd">Sbn Number</td><td class="blockCHtd" style="font-size: 10;">{{book.sbnNumber}}</td>
  </tr>
  <tr class="blockCHtr">
    <td class="blockCHtd">Titulo</td><td class="blockCHtd" style="font-size: 10;">{{book.title}}</td>
  </tr>

  <tr class="blockCHtr">
    <td class="blockCHtd">Publicacion</td><td class="blockCHtd">{{book.pubYear}}</td>
  </tr>
  <tr class="blockCHtr">
    <td class="blockCHtd">Autor</td><td class="blockCHtd">{{book.author}}</td>
  </tr>


</table> */
