body {
  padding: auto;
  background: #bd97da;
  font-family: 'Cantora One', sans-serif;
}
.skew {
  padding: auto;
  transform: skew(0deg, 0deg);
  background: #e92fa4;
  margin-bottom: 10px;
}

.content {

  transform: skew(0deg, 0deg);
  padding-top: 0px;
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  color: #000;
}
p {
  font-weight: lighter;
  font-size: 20px;
  color: #000;
}
.footer{
  padding-top: 30px;
  text-align: center;


}
.footer p {
  color: #fff;

}
